
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Satisfy', cursive;
    color: #212529;
    font-size: 40pt;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    
    color: #212529;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    
    color: #212529;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    color: #212529;
}

ul li {
    display: block;
    font-size: 14pt;
}

.linea_separadora {
    border: solid #000000 1px;

}

/*-- NAVEGADOR--*/

.navbar {
    background-color: #000000;
    position: fixed;
    width: 100vw;
    z-index: 100;
    
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 30pt
}

/*-- HEADER--*/

.foto_header {
    background-image: url(../img/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.rounded-circle {
    width: 100% 
}

/*-- TEXTO EXPERIENCIA--*/

.texto_experiencia {
    margin: auto;
 
}


/*-- TRABAJOS ONLINE--*/

.trabajos_online {
    background-image: url(../img/img-galeria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

/*-- CARRUSEL TRABAJOS OFFLINE--*/

.MultiCarousel { float: left; overflow: hidden; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

        
/*-- CONTACTO --*/


.contacto {
    background-image: url(../img/img-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

/*-- FOOTER--*/

.redes_sociales {
    text-align: center;
    background-color: #000000;
}

footer i {
    color: white;
}


.redes_sociales p {
    color: white;
}

