
body {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Abril Fatface', cursive;
    
    color: #373A3C;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    
    color: #373A3C;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    
    color: #373A3C;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    color: #373A3C;
}

ul li {
    display: block;
    font-size: 14pt;
}


/*-- NAVEGADOR--*/

.navbar {
    background-color: rgb(248, 214, 170) !important;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 30pt
}

/*-- HEADER--*/

.foto_header {
    background-image: url(../img/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px; 
}


/*-- CARRUSEL TRABAJOS OFFLINE--*/

.carousel-item {
    display: block;
    padding: 4px;
}

.trabajos_offline {
    background-color: rgb(248, 214, 170) !important;
    height: 450px; 
    
}


/*-- TRABAJOS ONLINE--*/

.titulo_ingredientes {
    width: 220px;
}

.lista {
    padding-left: 0;
 
}


/*-- CONTACTO --*/

.contacto {
    background-color: rgb(179, 177, 176) !important;
    padding: 50px 150px;
}



/*-- FOOTER--*/

.redes_sociales {
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: rgb(248, 214, 170) !important;
    height: 200px
}
